<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="contact-card bg-white text-center p-3 rounded w-100 shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="mb-4"><%= I18n.t('contact_page.title') %></h2>

    <div class="mb-4">
      <h5>Телефони:</h5>
      <p class="mb-1">
        <a class="text-decoration-none" href="tel:+380660166033">+380 66 016 60 33</a>
      </p>
    </div>

    <div class="mb-4">
      <h5>Соціальні мережі:</h5>
      <p class="mb-2">
        <a href="https://t.me/Nikson_sol94" target="_blank" class="text-decoration-none">
          <i class="bi bi-telegram"></i> Telegram
        </a>
      </p>
      <p class="mb-2">
        <a href="https://twitter.com" target="_blank" class="text-decoration-none">
          <i class="bi bi-phone-vibrate"></i> Viber
        </a>
      </p>
      <p class="mb-2">
        <a href="https://www.instagram.com/nikitin_nikita24?igsh=MTBpd2d6MjhzNThheg==" target="_blank" class="text-decoration-none">
          <i class="bi bi-instagram"></i> Instagram
        </a>
      </p>
      <p class="mb-2">
        <a href="https://www.tiktok.com/@niksonsol2009?_t=ZM-8tJKB9Lq7Aj&_r=1" target="_blank" class="text-decoration-none">
          <i class="bi bi-tiktok"></i> TikTok
        </a>
      </p>
      <p>
        <a href="https://www.youtube.com/@Nikson94" target="_blank" class="text-decoration-none">
          <i class="bi bi-youtube"></i> Youtube
        </a>
      </p>
    </div>

    <a href="mailto:info@example.com" class="btn btn-primary">
      <i class="bi bi-envelope"></i> Написать нам
    </a>
  </div>
</div>