<div class="container" data-controller="products" data-products-product-value="">
  <div class="album py-2 bg-body-tertiary bg-primary text-dark bg-opacity-75">
    <%= render 'details' %>
  </div>
</div>
